
body{
  background-image: url('/static/images/register.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}

form {
    display: flex;
    flex-direction: column;
    width: 600px; /* Adjust width as needed */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(244, 238, 238,0.7);
    margin-bottom: 5%;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px; 
  
  }
  
  /* Input Fields */
  input[type="text"],
  input[type="email"],
  
  textarea {
    width:  95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input[type="password"]
  {
    border-radius: 5px;
  }
  
  /* Submit Button */
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  
    margin-top: 10px; 
    width: 200px;
  
  }
  
  /* Cancel Link */
  a {
    text-decoration: none;
    color: #007bff;
  }